language: java

before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
    - opencv/

before_install:
  - chmod +x gradlew

install:
  - bash build-opencv.sh
  
  - sudo sh -c 'echo "/usr/local/lib" > /etc/ld.so.conf.d/opencv.conf'
  
  - sudo ldconfig
  - echo "OpenCV installed."
  
  - export OPENCV_LIBS=/usr/local/lib
  - export OPENCV_INCLUDE_DIRS=/usr/local/include/opencv
  
  - echo "$(ls /usr/local/lib)"
  
  - ./gradlew assemble --stacktrace

script:
 - ./gradlew check
